{:paths ["src"]
 :deps {io.github.kotoba-lang/kotobase-engine-contract
        {:git/sha "8e8398e8706cc900612d07d4476ff92c9384ca84"}
        io.github.kotoba-lang/arrangement
        {:git/sha "1a3d835b58d5d92392fdafcb8ee82a60c7f18db7"}
        io.github.kotoba-lang/prolly-tree
        {:git/sha "7906ae8dd17ce349bd5696532df7ebaa1e2f1498"}
        io.github.kotoba-lang/kotobase-storage
        {:git/sha "f41e7bd3dfc8547614c6adc843c9d5fd1290687f"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}
